body, html {
    height: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
   
}

:root {
    --title-font: 'Farro'; 
    --text-font: 'Roboto'; 
    --primary-color: #ffffff; 
    --secondary-color: #0617BF; 
    --additional-color: #30FFBA; 
    --plain-text-color: #ffffff;
    --inputs-bg: #030c5e; 
    --inputs: #030B4D; 
    --info-block-bg: #2F1385; 
    --lead-color: linear-gradient(90deg, rgba(255,163,78,1) 0%, rgba(206,9,255,1) 50%); 
}

.page-container {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    justify-content: space-between;
    font-family: var(--text-font);
    color: var(--primary-color);
    width: 90%;
    margin: 0 auto; /* Center horizontally */
    gap: 20px; /* Adds space between the columns */
    background-color: var(--inputs-bg);
    padding: 20px;
}

.form-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto; /* Center horizontally */
    gap: 20px; /* Adds space between the columns */
}

/* When viewport width is less than 850px */
@media (max-width: 950px) {
    .form-container {
        flex-direction: column;
    }
}

/* Additional styles for smaller components within the form at less than 650px */
@media (max-width: 650px) {
    .form-personal {
        flex-direction: column;
        margin: 0 auto; /* Center horizontally */
    }
}

.form-column {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-row {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: space-between; /* Ensures spacing between elements */
    align-items: flex-start; /* Aligns items at the start of the flex container */
    flex-wrap: nowrap; /* Prevents wrapping of items */
}

.input-full {
    width: 100%;
}

/* Ensuring the parent .event-input has a defined width if not already set */
.event-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 100%;  /* This ensures it fills the horizontal space of its parent */
}

.event-input label, .event-input input, .event-input select {
    flex: 1; /* Each child takes up equal space */
}

/* Optional: Adjustments if labels are too wide or inputs are too narrow */
.event-input label {
    flex: 0 0 50%; /* Labels take up 50% of the space without growing or shrinking */
}

.event-input input, .event-input select {
    flex: 1; /* Inputs and selects take up the remaining space */
    width: 50%; /* Specify width to ensure layout */
}

.form-row::after {
    content: "";
    display: table;
    clear: both;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="date"],
.form-group input[type="number"],
.form-group select,
.form-group textarea {
    width: 100%; /* Ensure full width usage */
    padding: 8px;
    border-radius: 4px;
    box-sizing: border-box; /* Includes padding and border in element's width */
    background: var(--inputs);
    border: 1px solid white;
    color: white;
}

.form-group input[type="file"] {
    display: none;
}

.form-group .upload-btn {
    color: black;
    padding: 8px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 5px;
}

.form-personal {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px; /* Adds space between the columns */
}


input {
    width: auto;
    background: var(--inputs);
    border: white solid 1px;
    font-size: 14px;
}

/* styles.css */
.upload-btn-wrapper {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: var(--inputs);
    border: 2px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Ensure the image is cropped to the circle */
}

#upload-btn {
    border: none;
    background-color: transparent;
    font-size: 16px;
    cursor: pointer;
    color: var(--primary-color);
    font-family: var(--title-font);
}

#file-input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.upload-btn-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cover the area, cropping the image as necessary */
    
}

/* styles.css banner */
.upload-btn-wrapper-banner {
    position: relative;
    width: 100%;
    height: 300px;
    border-radius: 5px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Ensure the image is cropped to the circle */
    background: var(--inputs);
}

#upload-btn-banner {
    border: none;
    background-color: transparent;
    font-size: 16px;
    cursor: pointer;
    color: var(--primary-color);
    font-family: var(--title-font);
}

#file-input-banner {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.upload-btn-wrapper-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cover the area, cropping the image as necessary */
}

.form-image {
    width: fit-content; /* Adjust width to fit content */
}

.banner {
    width: 100%; /* Adjust width to fit content */
}

.submit {
    width: 150px;
    color: var(--primary-color);
    background: var(--lead-color);
    border: none;
    font-weight: 600;
    height: 40px;
    font-size: 20px;
    cursor: pointer; /* Change cursor to pointer on hover */
    border-radius: 10px;
}

.form-row .form-group.full-width {
    float: none;
    width: 100%;
  }

  #description {
    width: 100%;
    background: var(--inputs);
    border-radius: 5px;
    border: white 1px solid;
    font-size: 14px;
  }
  
  .form-group select[multiple] {
    overflow: auto; /* Allows scrolling through multiple options */
    background: var(--inputs); /* Match other input styles */
}

#dropdown1 {
    height: 30px;
}

/* Ensure this select fills the designated space within its flex container */
.event-input #guest-type {
    flex: 0 0 50%; /* Flex basis set to 50%, no grow, no shrink */
}

/* General styles for labels and inputs/selects within event-input to ensure alignment */
.event-input label, .event-input input, .event-input select {
    flex-grow: 1;
    flex-basis: calc(50% - 5px); /* Adjusts size accounting for the gap */
}

/* Setting a fixed width for the Select2 container within .event-input */
.event-input .select2-container {
    width: 50% !important;  /* Override other width settings with !important */
}

/* Adjustments to Select2's appearance to match your design */
.select2-container--default .select2-selection--multiple {
    background-color: var(--inputs);
    color: white;
    border: 1px solid white;
    border-radius: 4px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: var(--secondary-color);
    color: white;
}

.select2-container--default .select2-selection--multiple .select2-selection__placeholder,
.select2-dropdown {
    color: white;
    background-color: var(--inputs);
}

/* Style for the selected options */
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: var(--secondary-color); /* Different background for visibility */
    color: white;
}

/* Placeholder and dropdown menu styles */
.select2-container--default .select2-selection--multiple .select2-selection__placeholder,
.select2-dropdown {
    color: white;
    background-color: var(--inputs);
}

#success-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    gap: 20px;
    padding: 20px;
    background-color: var(--inputs-bg); /* Assuming you want to use the same background */
    color: white;
    font-family: var(--title-font);
}


.flatpickr-calendar {
    background-color: var(--info-block-bg) !important;
    border: 2px solid; /* Using a gradient border might not be directly possible */
    border-image-slice: 1;
    border-image-source: var(--lead-color);
    color: white !important;
}

/* Text color for the month and weekdays in the calendar */
.flatpickr-month .flatpickr-current-month,
.flatpickr-weekday {
    color: white !important;
}

.flatpickr-day {
    color: white !important;
}


.flatpickr-day:hover, .flatpickr-day:focus {
    background-color: var(--lead-color) !important;
    color: white !important;
}

.flatpickr-calendar .flatpickr-day.selected, 
.flatpickr-calendar .flatpickr-day.start, 
.flatpickr-calendar .flatpickr-day.end, 
.flatpickr-calendar .flatpickr-day.today.selected {
    border: 2px solid;
    border-image-slice: 1;
    background: none; /* Remove any background */
    border-image-source: var(--lead-color);
    color: white !important; /* Force white text color */
}

/* Ensure high specificity and force styles */
.flatpickr-calendar .dayContainer .flatpickr-day.selected, 
.flatpickr-calendar .dayContainer .flatpickr-day.start, 
.flatpickr-calendar .dayContainer .flatpickr-day.end, 
.flatpickr-calendar .dayContainer .flatpickr-day.today.selected {
    color: white !important;
}

/* Ensure that the navigation arrows are visible */
.flatpickr-prev-month,
.flatpickr-next-month {
    color: white !important;
}

/* Ensure hover styles are applied */
.flatpickr-day:hover, .flatpickr-day:focus {
    background-color: var(--lead-color) !important;
    color: white !important;
}

/* Specific targeting for the time input within Flatpickr */
.flatpickr-time {
    color: white !important; /* White text for the time inputs */
}

/* Color for the time input fields specifically */
.flatpickr-time input {
    color: white !important;
    background-color: var(--inputs) !important; /* Adjust background if necessary */
}